@page "/novolivro"
@using Livraria.Infrastructure.Repositories
@using Livraria.Domain.Entities
@using Livraria.Domain.Enums
@using Livraria.Domain.Abstractions

@inject ILivroRepository livroRepository
@inject NavigationManager navigation

<PageTitle>Novo Livro</PageTitle>

<div class="row justify-content-center">
    <div class="col-6">
        <LivroForm ModoEdicao="false" OnValidaLivroSubimit="AdicionarLivro" />
    </div>
</div>

@code {

    private async Task AdicionarLivro(Livro livro)
    {
        await livroRepository.AdicionarLivro(livro);
        navigation.NavigateTo("/livros");
    }
}
